#game-over-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 26, 35);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}
.game-button {
  background: none;
  border: none;
  padding: 0;
}
.game-button-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.game-button img {
  height: auto;
  transition: transform 0.3s ease;
}

.game-button:hover img {
  transform: scale(1.1);
}

.you-lost-image {
  background-image: url("../assets/img/game_ui/login_and_pass/game_over.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 300px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .you-lost-image {
    width: 80%;
    height: 200px;
    margin-bottom: 30px;
  }

  .game-button img {
    width: 160px;
  }
}

@media (max-width: 480px) {
  .you-lost-image {
    height: 150px;
    margin-bottom: 20px;
  }

  .game-button img {
    width: 120px;
  }

  .game-button-container {
    gap: 20px;
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .you-lost-image {
    width: 80%;
    height: 150px;
    margin-bottom: 20px;
  }

  .game-button img {
    width: 100px;
  }
}