@media (max-aspect-ratio: 3/4), (max-height: 24em) {
  .rotate-screen {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .game-screen,
  .start-screen,
  .end-screen-container,
  .game-buttons,
  .btns-container,
  canvas {
    display: none !important;
  }
}

@media (min-width: 50em) {
  .mobile-buttons {
    display: none;
  }
}