img {
  max-width: 100%;
  height: auto;
}
.responsive-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
}

@media (max-width: 375px) {
  
  .start-button {
    position: relative; 
    bottom: 20px; 
  }
  .how-to-play-button {
    margin-right: 10px;
  }
}
@media (max-width: 768px) {
  #canvas-container {
    max-width: 90%;
  }

  .start-button {
    width: 100px;
    height: 40px;
    margin-right: 10px;
  }
  .how-to-play-button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    right: 100px;
  }
}
@media (max-width: 480px) {
  #canvas-container {
    max-width: 100%;
  }

}
